.QAPanel-Card {
  max-width: 100%;
  background-color: #fff;
  margin-top: 3rem;
}

.QAPanel-Carousel {
  height: 26rem;
  overflow: scroll;
  @media screen and (max-width: 425px) {
    height: 33rem;
  }
}

.QAPanel-NonQuestion {
  font-size: 1.2rem;
  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}
// delete the scroll bars for the carousel
.QAPanel-Carousel::-webkit-scrollbar {
  display: none;
}
