.QAPanel-Card {
  max-width: 100%;
  background-color: #fff;
  user-select: none;
  font-size: 1rem;
  @media screen and (max-width: 425px) {
    font-size: 0.8rem;
  }
}

.QAPanel-Carousel {
  height: 26rem;
  overflow: scroll;
  overflow-x: hidden;
  @media screen and (max-width: 425px) {
    height: 33rem;
  }
}
// // delete the scroll bars for the carousel
// .QAPanel-Carousel::-webkit-scrollbar {
//   display: none;
// }

.Card-Home {
  line-height: 2rem;
}
